*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

body{
    background-color: #000;
}

.header{
    width: 100%;
    background-color: black;
    padding: 32px 0px 32px 51px;
}

.img{
    height: 36px;
}

section{
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

section .main{
    margin: 32px;
    /* padding: 32px; */
    width: 734px;
    height: 910px;
    background-color: #000;
    border-radius: 5px;
}

section div.main h1{
    color: white;
    text-align: center;
    margin: 48px 0;
    font-size: 4rem;
}

.accountContent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.a-c-btn{
    width: 324px;
    border: none;
    outline: none;
    margin: 5px 0;
    color: white;
    background: transparent;
    border: 1px solid #878787;
    font-size: 15px;
    border-radius: 500px;
    padding: 10px 29px;
    text-align: center;
    font-weight: bold;
}

.a-c-btn:hover{
    border: 1px solid white;
}

.accountContent button img{
    width: 28px;
    float: left;
    margin: 0 10px;
}

.accountContent button .para{
    position: relative; 
    top: 5px;
    width: 28px;
}

.last{
    width: 324px;
    height: 50px;
}

.hr{
    width: 500px;
    margin: 0 auto;
}



.log-in{
    display: flex;
    justify-content: center;
    align-items: center;
}

.log-in form label{
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 8px;
}

.log-in form input{
    display: block;
    padding: 14px;
    width: 324px;
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background: #171717;
    border: 1px solid gray;
    border-radius: 5px;
}


.log{
    background-color: #1ed760;
    border: none;
    width: 324px;
    height: 49px;
    display: block;
    margin: 40px auto;
    border-radius: 50px;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: .5px;
    /* transition: .1s; */
    transform: scale(.94);
}

.log:hover{
    transform: scale(1);
}

.forgot{
    margin: 100px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.forgot:hover{
    color: #1ed760;
}

.sign-up{
   color: rgb(163, 160, 160);
   text-align: center;
   margin: 45px 0;
}

.sign-up span{
    padding-right: 9px;
}

.signup{
    font-weight: bold;
    color: white;
    font-size: 15px;
}

.signup:hover{
    color: #1ed760;
}

footer{
    color: rgb(172, 172, 172);
    margin-bottom: 70px;
    font-size: 10px;
    text-align: center;
}
