*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family,CircularSpTitle,CircularSpTitle-Tall,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
}

body{
    height: 100vh;
    background-color: #121212;
    
}

.container{
    
    width: 100%;
    /* background-color: yellow; */
}

.container{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background: #000000;
    height: 900px;
}

.sidebar{
    width: 500px;
    /* height: 100%; */
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}



.mda {
    /* width: 99%; */
    background-color: #101010;
    /* margin: 8px 0px 2.5px 0px; */
    border-radius: 10px;
}

.navbox{
    height: 22%;
    width: 96%;
    background-color: #121212;
    margin: 8px 0px 2.5px 0px;
    border-radius: 10px;
    /* overflow: auto; */
}
.librarybox{
    width: 96%;
    height: 100%;
    background-color: #121212;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 14px;
}

.logoa img{
    height: 25px;
    margin: 19px 0px 6px 19px;
}

.home i{
    color: #ffffff ;
    font-size: 29px;
}
.home{
    display: flex;
    align-items: center;
    margin: 6px 0px 6px 17px;
}
.home a{
    text-decoration: none;
}
.home span{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.search i{
    color: #ffffff ;
    font-size: 29px;
}
.search{
    display: flex;
    align-items: center;
    margin: 15px 0px 24px 17px;
}
.search a{
    text-decoration: none;
}
.search span{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.library i{
    color: #ffffff ;
    font-size: 29px;
}
.library{
    display: flex;
    align-items: center;
    /* margin: 15px 0px 24px 17px; */
    padding: 17px;
}
.library a{
    text-decoration: none;
}
.library span{
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-left: 10px;
}

.scrolldetail{
    background-color: #242424;
    margin: 0 10px;
    color: white;
    border-radius: 10px;
}

.scrolhead{
    padding: 20px 15px 5px 15px;
    font-weight: bold;
    font-size: 15px;
    color: white;
} 

.scrolldetail span{
    padding: 8px 15px 7px 15px;
    display: block;
    color: white;
    font-size: 13px;
}



.scrolldetail button{
    margin: 10px 15px 20px 15px;
    font-size: 15px;
    padding: 10px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
}

.scroll{
    height: 290px;
    overflow: scroll;
}

.libraryfooter{
    margin: 30px 12px;
}

.libraryfooter span{
    color: rgb(153, 151, 151);
    margin: 30px 12px;
    /* text-align: center; */
    font-size: 10px;
}

.english{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: white;
    margin-left: 27px;
    border: 1px solid rgb(129, 127, 127);
    border-radius: 50px;
    margin-bottom: 9px;
}

.english i{
    font-size: 18px;
    /* padding: 7px; */
    padding-left: 10px;
}

.english span{
    font-size: 14px;
    padding: 10px;
    font-weight: bold;
}

/* main css *************************************************8*/

.main{
    width: 1103px;
   
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    padding: 10px;
    position: relative;
    background-color: #000000;
    
}
.navbar{
    height: 66px;
    background-color: #121212;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #ffffff;
    overflow: hidden;
}

.navbar .left{
    font-size: 30px;
    margin-left: 30px;
}

.navbar .right{
    margin-right: 30px;
}

.navbar .right button{
    font-size: 15px;
    font-weight: bold;
    padding: 24px 30px;
    height: 20px;
    display: flex;
    align-items: center;
    border-radius: 50px;
    border: none;
}

.mainbox{
    /* height: 50%; */
    background-color: #121212;
    border-radius: 11px;
    overflow: hidden;
}

.cardcontainer{
    width: 180px;
    background-color: #252525;
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 7px;
    color: #ffffff;
}
.cardcontainer img{
    width: 100%;
    border-radius: 7px;
}
.card_container_anchor{
    text-align: center;
}

.card_content_header{
    margin: 5px;
    font-size: 14px;
}

.card_content_body p{
    font-size: 12px;
    margin: 6px;
    color: #c6bfbf;
    font-weight: bold;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: scroll;
    height: 670px;
    gap: 14px;
}

.sp{
    color: white;
    margin-left: 25px;
    font-size: 25px;
    margin-top: 6px;
    margin-bottom: 6px;
    padding: 10px;
}
.spotifyplaylist{
    background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
}